::-webkit-scrollbar {
    width: 0;
    height: 0;  }

html {
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.container { 
    height: 100vh;
    width: 100vw;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

.content { 
    position: relative;
    top: 0%;
    width: 100%;
    height: 100vh;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    flex: 0 0;

}

body { 
    margin: 0px;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.gamezone{
    background-image: url('./sprites/back.png');
    background-repeat: repeat;
    width: 100vw;
    height: 93vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hangar{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 60vw;
    background-image: url('./sprites/backmenumain.jpg');
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose{
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 20px;
    background-image: url('./sprites/backmenu.jpg');
    background-size: cover;
}
.tanks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.alert{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: justify;
    color:rgb(255, 255, 255);
    font-weight: 800;
    text-align: center;
}

.gamer{
    position: absolute;
    background-size: cover;
}

.enemy{
    position: absolute;
    background-size: 100% 100%;
}

.tank  {
position: relative;
cursor: pointer;
}

.tank p {
    position: absolute;
    font-size: 20px;
    color: white;
    bottom: 0;
    right: 0;
    font-weight: 600;
}
.item{
    margin: 15px;
    width: 10vw;
}
.item:hover{
    transition: 0.3s;
filter: brightness(1.4);
}

.bullet{
    position: absolute;
    background-image: url('./sprites/bullet.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('./sprites/backmenumain.jpg');
    background-size: cover; 
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-size: 30px;
    font-weight: 700;
    height: 7vh;
}

.points{
    display: flex;
}
.hp{
    display: flex;
}
.number{
font-size: 30px;
font-weight: 700;
display: block;
}


@media(max-width: 1200px){
    .hangar{
        max-width: 60vw;
        }
        .item{
            width: 15vw;
        }
}

@media(max-width:998px){
.hangar{
max-width: 60vw;
}

.footer, .number{
    font-size: 15px;
}

.item{
    width: 16vw;
}
}
@media (max-width: 800px) {
    .footer, .number{
        font-size: 17px;
    }
    .item{
        width: 18vw;
    }
 }

 @media (max-width:667px) {
     .footer, .number{
         font-size: 12px;
     }
     .hangar{
        max-width: 70vw;
    }
    .item{
        width: 15vw;
        margin: 10px;
    }
    .tank p {
        font-size: 12px;
    }
    .alert{
        font-size: 16px;
    }
 }

@media (max-width: 430px){
    .hangar{
        width: 70vw;
    }
    .tanks{
        flex-direction: column;
    }
    .item{
        min-width:  30vw;
        margin: 10px;
    }
    .tank p {
        font-size: 12px;
    }
    .alert{
        font-size: 16px;
    }
 }