::-webkit-scrollbar {
    width: 0;
    height: 0;  }

html {
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.container { 
    height: 100vh;
    width: 100vw;
    font-size: 1vw;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

.content { 
    position: relative;
    top: 0%;
    width: 100%;
    height: 100vh;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    flex: 0 0;

}

body { 
    margin: 0px;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.gamezone{
    background-image: url('./sprites/back.png');
    background-repeat: repeat;
    width: 100vw;
    height: 95vh;
    position: relative;
}

.hangar{
    position: absolute;
    max-width: 40vw;
    left: 30vw;
    top: 40vh; 
    background-color: #3e8e41;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.gamer{
    position: absolute;
    background-size: cover;
}

.enemy{
    position: absolute;
    background-size: 100% 100%;
}

.tank  {
position: relative;
}

.tank p {
    position: absolute;
    font-size: 20px;
    color: white;
    bottom: 0;
    right: 0;
    font-weight: 600;
}
.item{
    margin: 10px;
    height: 10vh;
}
.item:hover{
    transition: 0.3s;
filter: brightness(1.4);
}

.bullet{
    position: absolute;
    background-image: url('./sprites/bullet.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkgreen;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-size: 30px;
    font-weight: 700;
    height: 5vh;
}

.points{
    display: flex;
}
.hp{
    display: flex;
}
.number{
font-size: 30px;
font-weight: 700;
display: block;
}

@media(max-width:998px){
.hangar{
    top: 20vh;
max-width: 50vw;
left: 25vw;
}
.footer, .number{
    font-size: 20px;
}

}
@media (max-width: 800px) {
    .footer, .number{
        font-size: 17px;
    }
    .item{
       height: 8vh;
    }
 }

 @media (max-width:667px) {
     .footer, .number{
         font-size: 6px;
     }
 }